body {
    background-image: url("./park-bg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#heading {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 40px;
    width:100%
}

#container {
    width:100%;
}

#building {
    height: 675px;
    width: 100%;
    background-color: #FFFFA7;
    display: flex;
    justify-content: center;
    align-content: start;
    margin: 0 auto;
    flex-wrap: wrap;
    cursor: url("./net.png") 60 20, auto;
}

.window {
    height: 95px;
    width: 95px;
    background-color:#9addfb;
    margin: 10px;
    position: relative;
    overflow: hidden;
    /* flex-basis:auto */
}

.cat {
    height: 85px;
    width: 95px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: appear 0.5s linear;
}

@keyframes appear {
    from {
        bottom: -225px;
    }
    to {
        bottom: 0;
    }
}

#console {
    flex-basis: auto;
    height: 750px;
    width: 350px;
    display: block;
    margin: 0 auto;

}


#start-pause-reset {
    display: flex;
    justify-content: center;
}

.button {
    flex-basis: auto;
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color:lightpink;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #aaaaaa;
    padding: 10px;
}

.button:hover {
    background-color: #FFFFA7;
}

.button:active {
    background-color: #FFFFA7;
    transform: translateY(4px);
}

.start-pause {
    display: flex;
}

.console-div {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    display: flex;
}

#timer-score {
    display: flex;
    justify-content: center;
}

#score, #timer {
    height: 40px;
    width: 100px;
    background-color: lightpink;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 35px;
    margin: 5px;
    text-align: right;
    border-radius: 8px;
    box-shadow: 2px 2px 1px #aaaaaa;
}

#timer {
    text-align: center;
}

i {
    font-size: 20px;
}
